<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add
      name="Server"
      connectionString="Data Source=DESKTOP-K2R2PHT\SQLEXPRESS;Initial Catalog=AnalisisClinico; user = sa;password = alexis123 ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <LabDesk.Opciones>
      <setting name="Daltonic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Sound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundClick" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundSesion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundVolumen" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Style" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Daltonics" serializeAs="String">
        <value />
      </setting>
    </LabDesk.Opciones>
  </userSettings>
</configuration>